<header class="nav bg-white shadow-sm">
    <div class="logo-container">
      <button nz-button (click)="toggleCollapsed()">
        <i class="icon icon-menu-burger"></i>
      </button>
    </div>
    <div class="my-2">
      <img
      nz-image
      width="auto"
      height="auto"
      nzSrc="assets/imgs/logo-quipux.svg"
      alt=""
      />
    
    </div>
    <div class="logout-container">
      <span>Federico Vélez</span>
      <nz-avatar class="ant-avatar ant-avatar-circle ant-avatar-image"><!---->
        <img
        nz-image
        width="auto"
        height="auto"
        nzSrc="assets/imgs/dommie.png"
        alt=""
        />
      </nz-avatar>
      <nz-avatar nzSrc="assets/imgs/dommie.png" nzShape="circle" nzSize="large"></nz-avatar>
      
    </div>
  </header>
  