<app-header></app-header>
<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <h2 nz-typography class="my-3">Cliente</h2>
    </div>
    <div nz-row nz-flex class="justify-content-between">
        <nz-card>
            <form nz-form>
                <div class="row">
                    <div class="col-3">
                        <nz-form-item class="m-0">
                            <nz-form-label>Cliente</nz-form-label>
                            <nz-select id="plataforma" nzShowSearch nzAllowClear nzPlaceHolder="Buscar o seleccionar">
                                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                            </nz-select>
                        </nz-form-item>
                    </div>
                    <div class="col-3">
                        <nz-form-item class="m-0">
                            <nz-form-label>Plataforma - Servicio</nz-form-label>
                            <nz-select id="vertical" nzPlaceHolder="Seleccionar">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                            </nz-select>
                        </nz-form-item>
                    </div>
                    <div class="col-3 d-flex align-items-end">
                        <div class="col-md-auto">
                            <button nz-button nzType="default">Agregar</button>
                        </div>
                    </div>
                    
                </div>
            </form>
            

            <div class="mb-4 d-flex justify-content-end">
                <label class="my-auto mr-2" for="pageSizeSelect">Page Length:</label>
                <nz-select
                  id="pageSizeSelect"
                  [(ngModel)]="pageSize"
                  (ngModelChange)="onPageSizeChange($event)"
                  nzPlaceHolder="Select page size"
                  style="width: 120px;">
                  <nz-option *ngFor="let size of pageSizeOptions" [nzValue]="size" [nzLabel]="size"></nz-option>
                </nz-select>
              </div>
              
              <nz-table #basicTable nzSize="small" [nzData]="listOfData" [nzBordered]="true" [nzShowPagination]="false">
                <thead>
                  <tr>
                    <th nzWidth="">Cliente</th>
                    <th nzWidth="">Plataforma - Servicio</th>
                    <th nzWidth="">Vertical</th>
                    <th nzWidth="">Grupo</th>
                    <th nzWidth="">Versión Cliente</th>
                    <th nzWidth="">Clasificación</th>
                    <th nzWidth="">Tipo</th>
                    <th nzWidth="">Última modificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listOfData">
                    <td>Medellín</td>
                    <td>Componente Móvil de Servicios Digitales para el ciudadano</td>
                    <td>tdansversal</td>
                    <td>tdansformación del modelo de prestación de servicios</td>
                    <td>2.1</td>
                    <td>Virtual</td>
                    <td>Plataforma</td>
                    <td>12/03/2024 -10:35:23</td>
                  </tr>
                 
                </tbody>
              </nz-table>
              
              <nz-pagination
              class="text-center my-4"
                *ngIf="listOfData.length > 0"
                [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize"
                [nzTotal]="total"
                [nzPageSizeOptions]="pageSizeOptions"
                (nzPageSizeChange)="onPageSizeChange($event)"
                (nzPageIndexChange)="onPageIndexChange($event)">
              </nz-pagination>
              
        </nz-card>
    </div>
</div>