<div class="text-header">
    <h2>App de tareas</h2>
</div>


<div>
    <button (click)="downloadPdf()">Descargar PDF</button>
</div>


<form [formGroup]="formMensaje" method="post" action="">
    
    <h3 class="form-header">Nuevo</h3>

    <div class="card">
        <div class="card-body">
            
            <div class="info__container">
                <div class="select__container">
                    
                    <span>Agregar mensaje: </span>
                    <input type="text" placeholder="Agregar" formControlName="mensaje">
                
                </div>

                <div class="select__container">
                    
                    <span>Estado: </span>
                    <select name="Estado" id="" formControlName="estado">
                        <option value="Por empezar">Por empezar</option>
                        <option value="En proceso">En proceso</option>
                    </select>
                
                </div>

                <div class="select__container">
                
                    <button type="submit" class="nuevo" (click)="newMensaje() " >Nuevo</button>
                    
                </div>

            </div>

            
        </div>
    </div>

</form>

<form [formGroup]="filterForm">
    
    <h3 class="form-header"> Buscar </h3>

    <div class="card">
        <div class="card-body">
            
            <div class="info__container">
                <div class="select__container">
                    
                    <span>Buscar mensaje: </span>
                    <input type="text" placeholder="Buscar" formControlName="searchText" >
                
                 </div>

                <div class="select__container">
                    
                    <span>Buscar progreso: </span>
                    <input type="number" min="0" max="100" formControlName="searchNumber" >
            
                 </div>

                 <div class="select__container">
                    
                    <span>Estado: </span>
                    <select name="Estado" id="" formControlName="filterOption" >
                        <option value="Por empezar">Por empezar</option>
                        <option value="En proceso">En proceso</option>
                        <option value="Terminados">Terminados</option>
                        <option value="Todos">Todos</option>
                    </select>
                
                </div>
                 
                 <div class="select__container">
                    <button class="buscar" type="submit" (click)="applyFilter()">Buscar</button>
                 </div>
                
            </div>

            
        </div>
    </div>

</form>

<div class="card">
    
    <div class="card-body">
       
      <table class="table table-striped table-dark">
        <caption></caption>
        <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Mensajes</th>
            <th scope="col">Progreso</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr> 
        </thead>
        <tbody>

            @for(mensaje of filteredMensajes;track mensaje ){
        
                <tr>
                    <th scope="row">{{mensaje.id}}</th>
                    <td>{{mensaje.mensaje}}</td>
                    <td> <meter max="100" min="0" low="40" high="65" optimum="80" value="{{mensaje.progreso}}"></meter> {{mensaje.progreso}}% </td>
                    <td>{{mensaje.estado}}</td>
                    <td> 
                        <button class="acciones editar" (click)="openModal('editar'); sendId(mensaje.id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg></button>
                        <button class="acciones eliminar " (click)="openModalEliminar('eliminar'); sendId(mensaje.id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"></path></svg></button>
                    </td>
                </tr>   
                
            }

        </tbody>
    </table>

    </div>
  </div>


    

